<html>


  <head>Add your space</head>
  <body>

    <div class="navigation">
        <ul>
          <li><a href="/">Homepage</a></li>
          <li><a href="/log-out">Logout</a></li>
          <li><a href="/your-bookings">View bookings</a></li>
        </ul>
      </div>

    <h1>Add your space</h1>
 Property title: <%= @p.title %>
 Property description: <%= @p.description %>
 Property address: <%= @p.address %>



<form action="/add-availability/<%= @p.id %>" method="POST">

  <label for="first_available">Available from:</label>
  <input type="date" name="first_available" />

  <label for="last_available">Available to:</label>
  <input type="date" name="last_available" />

  <input type="submit" value="Submit the form" />
   <li><a href="/add-a-space">Add another space</a></li>

</form>


  </body>
</html>