<html>
  <head>Add your space</head>
  <body>
    <h1>Add your space</h1>
<form action="/add-a-space" method="POST">
  <label for="title">Property name:</label>
  <input type="text" name="title" />

  <label for="address">Address:</label>
  <input type="text" name="address" />

  <label for="description">Property description:</label>
  <input type="text" name="description" />

  <label for="daily_rate">Daily rate:</label>
  <input type="number" name="daily_rate" />

  <label for="first_available">Available from:</label>
  <input type="date" name="first_available" />

  <label for="last_available">Available to:</label>
  <input type="date" name="last_available" />

  <input type="submit" value="Submit the form" />
</form>
  </body>
</html>