<html>
  <head>Your Bookings</head>
  <body>
    <h1>Your Bookings</h1>
    <div>
    <% @properties.each do |property|%>
      <p>
      Your trip to <%= property.title %> starts on 2023-04-01 and ends on 2023-04-03
      </p>
      <p>
      <%= property.title %>
      </p>
      <p>
        <%= property.description %>
      </p>
    <% end %>
    </div>

  </body>
</html>