<html>
  <head>Homepage</head>
  <body>
    <h1>MakersBnB</h1>
    
    <div>
  <% if @a == true %>
   <a href="/">Click to logout</a><br>
         <a href="/bookings">Click to view bookings</a><br>
  <% else %>
     <a href="/sign-up">Click to sign up</a><br>
       <a href="/log-in">Click to login</a><br>
  <% end %>
</div>

      
  
      <% @properties.each do |property| %>
      <a href="/property/<%= property.id %>">Click to view property</a>
      
      <%= property.title %>
      <%= property.daily_rate %><br>
      <% end %>
  </body>
</html>