<html>
  <head>Create an account</head>
  <body>
    <h1>Sign up here</h1>


<form action="/sign-up" method="POST">
  <label for="first_name">First name:</label>
  <input type="text" name="first_name" />

  <label for="last_name">Last name:</label>
  <input type="text" name="last_name" />

  <label for="email">Email address:</label>
  <input type="text" name="email" />

  <label for="password">Password:</label>
  <input type="password" name="password" />

  <input type="submit" value="Submit the form" />
</form>



  </body>
</html>